.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

/*Ion Card stylings*/
ion-card{
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  width: 70% !important;
  margin: 0 !important;

  ion-header{
    font-size: 150%;
    color: black;
    text-align: center;
  }
}